/build*
/ext/src/mpg123
/ext/src/lua5.4
/ext/src/LuaJIT
/ext/src/libsndfile
/ext/src/flac
/ext/src/opus
/ext/src/libgit2
/ext/src/fpng
/ext/src/FFmpeg
/out/screenshot.png
/out/user
/out/save
!build.sh